body {
    text-align: center;
    background-color: #FFF;
}

a {
    color: #618685;
    text-decoration: none;
}

header, main, nav, footer {
    text-align: left;
}

nav {
    text-align: center !important;
    font-family: 'Playfair Display', serif;
}

nav a {                     
   text-align: center; 
}

nav a:hover {                     
    text-decoration: underline;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #50394c;
}

main {
    text-align: center;
    width: 100%;
}

.intro {
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.mainImg {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 400px;
    
}

.source {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;

}

.sourceText {
    
    color: #555;
    font-weight: bold;
}

.sourceLink {
    color: #777;
    
}

ol {
    font-size: small;
}

li {
    font-style: italic
}

nav a:hover {   
    text-decoration: overline;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}

sup {
    font-size: xx-small;
}