body {
    text-align: center;
    background-color: #FFF;
}

a {
    color: #618685;
    text-decoration: none;
}

header, main, nav, footer {
    text-align: left;
}

nav {
    text-align: center !important;
    font-family: 'Playfair Display', serif;
}

nav a {                     
   text-align: center; 
}

main {
    text-align: center;
    width: 100%;
}

.intro {
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.mainImg {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 400px;
    
}

nav a:hover {   
    text-align: center;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}