body {
    text-align: center;
    background-color: cyan;
}

.correct {
    color: green;
    font-size: 18pt;
    
}

.incorrect {
    color: red;
    font-size: 18pt;
}

#container {
    display: flex;
}

#inline {
    display: inline;
}