body {
    background-color:black
    text-align: center;
}

form {
    border: 5px solid black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]:focus, textarea:focus {
  background-color: lightblue;
}

.correct {
    color: green;
    font-size: 18pt;
    
}

.incorrect {
    color: red;
    font-size: 18pt;
}

.center {
	text-align: center;
}
#content {
	width: 50%;
	align: center;
	text-align: center;
	margin: 0 auto;
}

.footer {
	text-align: center;
	font-size: 10pt;
	margin: 40px;
}

#container {
    display: flex;
}

#inline {
    display: inline;
}

#textIn {
    width: 100%;
    height: 200px;
}

.tempInput {
    width: 50%;
}

.liquidInput {
    width: 30%;
}

#liquidMeasures {
    display: inline;
}
#liquidIn {
    display: inline;
}