body {
    background-color:black
    text-align: center;
}

form {
    border: 1px;
    border-color: black;
}

input[type=text]:focus {
  background-color: lightblue;
}

.correct {
    color: green;
    font-size: 18pt;
    
}

.incorrect {
    color: red;
    font-size: 18pt;
}

.center {
	text-align: center;
}
#content {
	width: 50%;
	align: center;
	text-align: center;
	margin: 0 auto;
}

.footer {
	text-align: center;
	font-size: 10pt;
	margin: 40px;
}

#container {
    display: flex;
}

#inline {
    display: inline;
}


.tempInput {
    width: 75%;
}

.liquidInput {
    width: 45%;
}