body, .fluid-container {
    height: 100%;
    text-align: left;
    background: black;
    background-image: url("../img/bg2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;
}

.jumbotron {
    color: white;
    background: #014421;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
#contentBox {
    padding: 10px;
}

#animalInfo {
    background: #014421;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:visited {
    color: white;
}

.modal-content {
    border: 1px solid white;
    background-color: #232323;
}

.modal-header {
    background-color: white;
    color: black;
}

.modal-footer {
    border: none;
}